o# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# NetBeans specific #
nbproject/private/*
build/*
nbbuild/*
dist/*
nbdist/*
nbactions.xml
nb-configuration.xml
week1-000*
**/nbproject/private/*
*build_log.txt

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/week7-week7_01.Smileys/build/
/week7-week7_04.ThingSuitcaseAndContainer/build/
/week7-week7_07.Dictionary/build/
/week8-week8_16.SkiJumping/build/